<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("css/style.css") }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <ul class="nav navbar-nav">
                <li><a href="{{ path("pole") }}"><button type="button" class="btn btn-danger col-1">Pole</button></a></li>
                <li><a href="{{ path("polevpoli") }}"><button type="button" class="btn btn-success col-1">Pole v poli</button></a></li>
            </ul>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
